
<h1>Create New Account</h1>
<form class="form" action="/signup" method="POST">
<fieldset class="fd">
     <legend>Please Signup</legend>


<label for="name">Your Name</label>
<input id="name" name="name" type="text" value="{{value.name}}" placeholder="Please Enter Your Name" maxlength="25" size="70">
<div class="err">{{errName}}</div>

<label for="Email">Your Email</label>
<input id="Email" name="Email" type="text" value="{{value.email}}" placeholder="Please Enter Your Email" maxlength="25" size="70">
<div class="err">{{errEmail}}</div>

<label for="pwd">Password</label>
<input id="pwd" name="pwd" type="password" value="{{value.pwd}}"  placeholder="Please Enter Your Password" maxlength="25" size="70">
<div class="err">{{errPwd}}</div>

<label for="pwd2">Confirm Password</label>
<input id="pwd2" name="pwd2" type="password" value="{{value.pwd}}" placeholder="Please Enter Your Password Again" maxlength="25" size="70">
<div class="err">{{errRepwd}}</div>

<div id="button">
<input class="btn" type="submit" value="SIGNUP">    
</div>
</fieldset>
 </form>

  